.dashboard {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "topnav topnav topnav"
        "sidebar main   main"
    ;
    grid-template-rows: min-content 1fr;
    grid-template-columns: minmax(300px, 1fr) 6fr;
    font-size: 1rem;
}

main {
    grid-area: main;
    padding: 1rem;
}

.dashboard-sidebar {
    grid-area: sidebar;
    padding: 1rem;
    border-right: solid 1px #1F1F1F;
}

.dashboard-sidebar ul {
    list-style: none;
    padding: 0;
}

.dashboard-sidebar li {
    cursor: pointer;
}

.dashboard-sidebar .sidebar-categories {
    display: flex;
    gap: .5em;
    font-size: .8em;
}

.dashboard-sidebar .sidebar-categories span {
    background-color: #1F1F1F;
    padding: .5em;
    border-radius: .5em;
}

.dashboard .dashboard-sigle-note {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard .dashboard-sigle-note h1 {
    margin-bottom: 0;
}

.dashboard .dashboard-sigle-note .w-md-editor {
    flex-grow: 1;
}

.note-toolbar {
    display: flex;
    gap: .5rem;
}

/* .note-toolbar h1 {
    flex-grow: 1;
} */