.dashboard {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "sidebar main"
    ;
    grid-template-columns: 300px 1fr;
    font-size: 1rem;
}

main {
    grid-area: main;
    padding: 1rem;
}

.dashboard-sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #202123;
    padding: 1rem;
    overflow-y: auto;
}

.dashboard-sidebar .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.dashboard-sidebar ul {
    list-style: none;
    padding: 0;
}

.dashboard-sidebar li {
    cursor: pointer;
    background-color: #202123;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: .5rem;
}

.dashboard-sidebar .list-item-header {
    margin-top: 0;
    margin-bottom: .75rem;
}

.dashboard-sidebar .sidebar-categories {
    display: flex;
    gap: .5em;
    font-size: .8em;
}

.dashboard-sidebar .sidebar-categories span {
    background-color: #1F1F1F;
    padding: .5em;
    border-radius: .5em;
}

.dashboard .dashboard-sigle-note {
    display: flex;
    gap: 1rem;
}

.dashboard .dashboard-sigle-note .editor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard .dashboard-sigle-note .notes-sidebar {
    width: calc(300px - 1rem);
    min-width: calc(300px - 1rem);
    padding-right: 1rem;
    border-right: solid 1px #1F1F1F;
}

.dashboard .dashboard-sigle-note .notes-sidebar ul {
    padding: 0;
}

.dashboard .note-list-item {
    cursor: pointer;
    background-color: #ffffff0c;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: .5rem;
    list-style: none;
}

.dashboard .note-list-item:not(.new-note-list-item, .selected):hover {
    background-color: #94560090;
}

.dashboard .note-list-item.selected {
    background-color: #945600;
}


.dashboard .new-note-list-item {
    /* border: solid 3px #202123; */
    cursor: unset;
}

.dashboard .new-note-list-item input {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}

.dashboard .new-note-list-item button {
    background-color: inherit;
    border: solid 1px #ffffffcc;
    color: #ffffffcc;
    margin-top: .5rem;
}

.dashboard .new-note-list-item button:hover {
    background-color: #945600;
    border-color: #945600;
}

.dashboard .note-heading {
    background-color: transparent;
    border: none;
    border-bottom: solid #ffffffcc 1px;
    color: inherit;
    font-size: 2em;
    font-weight: bold;
    margin-right: auto;
    width: 100%;
    max-width: 30rem;
    flex-shrink: 1;
    flex: 1 1 30rem;
}

.dashboard .dashboard-sigle-note .w-md-editor {
    flex-grow: 1;
}

.note-toolbar {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.toolbar-buttons {
    display: flex;
    align-items: center;
    gap: .5rem;
}

body .w-md-editor-text-pre>code,
body .w-md-editor-text-input {
    font-size: 1.2rem !important;
    line-height: 1.2 !important;
}

.w-md-editor-toolbar {
    font-size: 1.5rem !;
}

.w-md-editor,
.wmde-markdown,
.w-md-editor-toolbar {
    background-color: unset !important;
}

button {
    background-color: #404440;
    color: white;
    border: none;
    padding: .5em .75em;
    border-radius: .5em;
    cursor: pointer;
}

button:hover {
    background-color: #202123;
}

.bold-text {
    font-weight: bold;
}

.dashboard .notes-browser {
    display: flex;
    gap: 1rem;
}

.dashboard .category-list ul {
    padding: 0;
}

.dashboard .category-list li {
    cursor: pointer;
    list-style: none;
    padding: .5em 1em;
    margin-bottom: .5em;
    background-color: #202123;
    border: solid 3px #202123;
    border-radius: .5em;
}

.dashboard .category-list .new-category-button {
    background-color: transparent;
}

.dashboard .category-list strong {
    cursor: pointer;
}

.dashboard .category-browser .category-browser-toolbar {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    list-style: none;
    padding: 0;
}

.dashboard .category-browser .category-browser-toolbar button {
    background-color: #945600;
    border-color: #945600;
}

.dashboard .category-browser .category-browser-toolbar button:hover {
    background-color: #94560090;
    border-color: #94560090;
}

.dashboard .notelist-details {
    flex-grow: 1;
}

.dashboard .notelist-details table {
    width: 100%;
}

.dashboard .notelist-details table tr {
    cursor: pointer;
}

.dashboard .notelist-details table tr:hover {
    background-color: #94560090;
}

.dashboard .notelist-details table th,
.dashboard .notelist-details table td {
    padding: .5em;
}

.dashboard .notelist-details table th {
    text-align: left;
    background-color: #202123;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    margin-top: 1rem;
    border-radius: .5rem;
    background-color: #202123;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content ul {
    list-style: none;
    padding: 0;
}

.browser-toolbar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.settings-grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.settings-grid .card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: solid black 1px;
    border-radius: .5rem;
}

.settings-grid .card .card-content {
    flex-grow: 1;
}

.settings-grid .card h2,
.settings-grid .card p {
    margin-top: 0;
}

.settings-grid .card .card-content input {
    width: 100%;
    margin-bottom: 1rem;
    background-color: inherit;
    border: none;
    border-bottom: solid 1px #ffffff50;
    outline: none;
    color: white;
    padding: .5rem;
}

.settings-grid .card .card-content input:focus {
    border-bottom: solid 1px #ffffffcc;
}

.settings-grid .card .card-content label {
    display: inline-block;
    margin-bottom: .5rem;
}